<%layout('layouts/boilerplate')  %>
    <div class="container-md mb-25">
        <h1>Add A Product</h1>

        <form action="/foods" method="POST">
            <label for="name">Product Name</label>
            <input type="text" id="name" name="name" placeholder="product name">
            <br>
            <label for="category">Category</label>
            <select name="category" id="category">
<% for (let category of categories) { %>
    <option value="<%=category%>"><%=category%></option>
    <% } %>  
</select>
            <br>
            <label for="location">Location</label>
            <select name="location" id="location">
<% for (let location of locations) { %>
    <option value="<%=location%>"><%=location%></option>
    <% } %>  
</select>
            <br>
            <label for="expiryDate">Expiry Date</label>
            <input type="date" id="expiryDate" name="expiryDate">
            <br>
            <div class="form-floating">
                <label for="notes">NOTES</label>
                <textarea class="form-control" placeholder="extra info" id="notes" name="notes" style="width:400px; height: 100px"></textarea>
            </div>
            <button class="btn btn-success mt-3 mb-5">Submit</button>

        </form>
    </div>