<%layout('layouts/boilerplate')  %>
    <div class="container-fluid">
        <h1>Storing Recommendations</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">FOOD</th>
                    <th scope="col">FRIDGE</th>
                    <th scope="col">FREEZER</th>
                    <th scope="col">NOTES*</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Meat</th>
                    <td>1-2 Days</td>
                    <td>3-4 Months</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Fish</th>
                    <td>3-4 Days</td>
                    <td>6 months</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Bread</th>
                    <td>3-4 Days</td>
                    <td>3 Months</td>
                    <td>
                        <ul>
                            <li>
                                Best way to thaw frozen bread is to place the slices on a plate (uncovered) and microwave them on high power for 15 to 25 seconds. This will get the starch and water molecules to break down the crystalline regions, producing soft, ready-to-eat bread.
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Produce</th>
                    <td>*Varies according to produce</td>
                    <td>8-12 Months</td>
                    <td>
                        <ul>
                            <li>Keep produce at constant temp and do no continuosly refreeze them</li>
                            <li>Blanch vegetables to stop them from going bad before putting into freezer</li>
                            <li>See <a href="https://www.allrecipes.com/article/how-to-freeze-fruits-and-vegetables/" target="_blank">How to Freeze Fruits & Vegetables to Preserve Freshness</a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>